@charset "utf-8";
@import "fonts";
@import "normalize";
@import "variables";
@import "reset";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;

  h1 {
    padding-left: .7%;
    font-size: 11.2vw;
    text-align: center;
    margin: 0;
    position: relative;
    top: 2.5rem;
    font-weight: 100;
    letter-spacing: .7rem;
  }
}

.teaser {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;

  .btn-play {
    border-style: solid;
    border-width: 40px 0 40px 70px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    transition: transform .1s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: 16px;

  p {
    margin: 3rem 0;
  }

  a {
    margin-bottom: .5rem;
  }
}

@media screen and (max-width:875px) {
  .title {
    h1 {
      top: 1rem;
      font-size: 10.5vw;
    }
  }
}

@media screen and (max-width:540px) {
  .title {
    h1 {
      top: .2rem;
    }
  }
}
