@charset "utf-8";
@import "fonts";
@import "normalize";
@import "variables";
@import "reset";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.title,
.teaser,
.info {
  flex-grow: 1;
}

.title {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;

  h1 {
    padding-left: 1.7%;
    font-size: 11.2vw;
    text-align: center;
    margin: 0;
    position: relative;
    top: 2rem;
    font-weight: 100;
    letter-spacing: .7rem;
  }
}

.teaser {
  flex-basis: 180%;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .btn-play {
    border-style: solid;
    border-width: 40px 0 40px 70px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    transition: transform .1s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

.info {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  p, a {
    flex-basis: 100%;
  }
}

@media screen and (max-width:875px) {
  .title {
    h1 {
      top: 1rem;
      font-size: 10.5vw;
    }
  }
}

@media screen and (max-width:540px) {
  .title {
    h1 {
      top: .2rem;
    }
  }
}
