<section class="title">
  <h1>DIE SAMMLERIN</h1>
</section>
<section class="teaser">
</section>
<section class="info">
  <p>
    a film by<br/><a href="http://mmlkrx.me" target="_blank">matthias loker</a> and <a href="http://ozantasci.com" target="_blank">ozan tasci</a>
  </p>
  <a href="https://facebook.com/diesammlerin" target="_blank">facebook</a>
</section>
